body {
    min-height: 200px;
    min-width: 200px;
    display: flex;
    justify-content: center;
}

.mainCalculator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color:lightgray;
    padding: 20px;
    padding-bottom:30px;
   
}

#display {
    display: flex;
    text-align: center;
    justify-content: center;
    align-self: flex-start;
    flex-wrap: nowrap;
    background-color: rgb(170, 170, 170);
    margin: 20px;
    padding: 5px;
    border: 1px solid grey;
    min-height: 20px;
    flex: 1 0 400px;
}
.operators {
   display:flex;
   flex-wrap: wrap;
}

#numberButtons {
    display:flex;
    flex-wrap:wrap;
}
#operatorButtons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.nbutton{
}
#numberButtons button {
    background-color: lightsteelblue;
    flex: 1 33%;
    padding:15px;
    /* padding-top:15px; */
}
#operatorButtons button {
    background-color: lightsteelblue;
    flex:1 25%;
    padding:15px;  
    padding-left: 20px;
    padding-right: 20px;
}
#numberButtons #equal {
    background-color:  rgb(68, 101, 248);
    
}
#numberButtons #clearButton {
    background-color: rgb(68, 101, 248);
}